window {
    font-size: 20px;
    background-color: rgba(24, 32, 42, 0.8);
    background-repeat: no-repeat;
    color: #9DB8C1;
    /* border: 2px solid #9DB8C1; */
    /* backdrop-filter: blur(15px); */
}

#entry{
    padding: 4px 10px;
}

#entry:selected {
    background-color: rgba(152, 174, 211, 0.479);
    outline: none;
    border: none;
}

#test {
    color: rgba(152, 174, 211, 0.479);
}

#text:selected {
    color: #14151e;
    font-weight: 700;
    background-color: rgba(20, 21, 31, 0)
}

#input {
    padding: 5px 15px;
    margin: 15px 10px;
    background-color: rgba(152, 173, 211, 0.26);
    color: rgb(20, 21, 30);
    font-weight: 700;
    border: none;
}

#inner-box {
    margin: 5px;
    color: rgba(152, 174, 211, 0.479);
    font-weight: bold;
    /* background-color: rgba(20, 21, 30, 0.6); */
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: rgba(24, 32, 42, 0.8);
}