* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #2b2b2c;
}

tooltip {
    background: #e7e7ec;;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #2b2b2c;
}

#workspaces button {
    padding: 5px;
    color: #a6adc8;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 5px;
}

#workspaces button.active {
    color: #313244;
}

#workspaces button.focused {
    color: #313244;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: #b9b9bd;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-launch_rofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-updater,
#window,
#cpu,
#disk,
#custom-updates,
#custom-clipboard,
#custom-wallpaper-change,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#custom-ibus,
#taskbar,
#backlight {
    background: #e7e7ec;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px;
}

#custom-clipboard {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    font-size: 20px;
    padding-right: 20px;
}

#custom-wallpaper-change {
    font-size: 16px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

#custom-power_btn {
    color: red;
}

#taskbar{
    border-radius: 10px;
}

#custom-ibus {
    border-radius: 10px;
    margin-right: 10px;
}

#network {
    margin-right: 10px;
    border-radius: 10px;
}

#temperature {
    border-radius: 0 10px 10px 0;
}

#custom-updater {
    margin-right: 10px;
    border-radius: 10px;
}

#tray, #custom-lock_screen, #backlight, #custom-launch_rofi, #cpu {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    margin-right: 10px;
    border-radius: 10px;
}

#custom-power_btn {
    padding-right: 15px;
}

#custom-light_dark, #custom-power_btn, #workspaces, #pulseaudio.microphone, #battery, #disk{
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-weather {
    border-radius: 10px;
    margin-left: 10px;
}

#temperature.critical {
    color: #e92d4d;
}

#custom-light_dark {
    border-radius: 10px 0 0 10px;
    margin-right: 0;
}

#custom-light_dark {
    padding: 0 15px;
}

#pulseaudio, #clock {
    border-radius: 10px 0 0 10px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #1d7715;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_rofi {
    color: #407cdd;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    /* color: #407cdd; */
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    /* color: #ad6bfd; */
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #1d7715;
    border-left: 0px;
}

#custom-cava {
    background: #e7e7ec;
    color: #2b2b2c;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-right: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
}