/* pywal-wlogout */

/* Importing pywal colors */

@import 'colors.css';

window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color: #cdd6f4; /* text */
    background-color: rgba(30, 30, 46, 0.185);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
	margin: 5px;
    background-color: @background;
    animation: gradient_f 20s ease-in infinite;
    border-radius: 20px; /* Increased border radius for a more rounded look */
}

button:focus {
    background-size: 20%;
	/* border: 0px; */

}

button:hover {
    background-color: @color1; 
    color: @foreground;
    background-size: 35%;
    margin: 10px;
    border-radius: 50px; 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px @color8; 
	
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 50px; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}